<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>renderedUI</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body class="body" style="background-color: #f6f6f6"><label style="position:absolute;left:288.0px;top:232.0px;width:69.00146484375px;height:21.0px;display:inline-block;">New Label</label><label style="position:absolute;left:288.0px;top:262.0px;width:69.00146484375px;height:21.0px;display:inline-block;">New Label</label><button type="button" style="position:absolute;left:367.0px;top:301.0px;width:98.544921875px;height:31.0px;display:inline-block;">New Button</button><input type="text" value="Testing"style="position:absolute;left:367.0px;top:223.0px;width:186.134765625px;height:31.0px;display:inline-block;"></input><input type="text" value="Sample"style="position:absolute;left:367.0px;top:261.0px;width:186.134765625px;height:31.0px;display:inline-block;"></input></body>

</html>